.articlethumbnail {
  height: 70vh;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  & > div {
    border-radius: 10px;
    & .articlethumbnail__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 70vh;
      padding: 20px 50px 10px 50px;

      &-details {
        .headline {
          display: flex;
          justify-content: space-between;
          h2 {
            font-size: 25px;
            margin-bottom: 20px;
            flex: 0 0 92%;
          }
          .close {
            height: 30px;
            font-size: 20px;
            font-weight: 700;
            padding: 2px 8px;
            color: rgba(255, 255, 255, .9);
            background-color: rgba(142, 147, 147, .7);
            border-radius: 50%;
            cursor: pointer;
          }
        }
        .rating {
          display: block;
          width: 50px;
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 18px;
          span {
            width: 50px;
          }
        }
        .subject {
          font-size: 12px;
          max-width: 150px;
          width: 80px;
          background-color: rgb(208, 2, 27);
          padding: 3px 10px;
          border-radius: 10px;
          span {
            width: 80px;
          }
        }
      }
      .articlethumbnail__tags {
        .list-2 {
          margin-top: 7px;
        }
      }
    }
  }
}

.menu-item {
  background-color: rgb(245, 166, 35);
  color: black;
  height: 22px;
  font-size: 14px;
  border-radius: 20px;
  padding: 3px 15px;
  margin: 7px 20px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.arrow-left, .arrow-right {
  background-color: rgba(90, 90, 90, 0.7);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  border-radius: 50%;
  padding: 5px 10px 8px 10px;
  cursor: pointer;
}
.arrow-left {
  margin-right: 10px;
}
.arrow-right {
  margin-left: 30px;
}