.articlenav {
  display: flex;
  justify-content: space-between;
  padding: 15px 15%;
  color:black;
  background-color: rgba(239, 239, 239, .85);
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  left: 20px;
  right: 20px;
  & p {
    font-weight: 700;
    line-height: 25px;
    cursor: pointer;
    &:first-child i{
      background-color: black;
      color: white;
      padding: 3px 5px;
      font-size: 14px;
    }
    & i {
      margin-right: 10px;
      
    }
  }
}