.bottomnav {
  display: flex;
  justify-content: space-between;
  padding: 15px 10%;
  background-color: rgba(239, 239, 239, .98);
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  left: 20px;
  right: 20px;
  color: black;
  & p {
    & i {
      margin-right: 15px;
    }
  }
}