.contentcard {
  padding: 30px;
  background-color: rgba(230, 229, 235,.1);
  color: rgb(239, 239, 239);
  border-radius: 5px;
  margin-bottom: 20px;
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    h3 {
      width: 80%;
    }
  }
}