.card {
  & .card__date {
    display: flex;
    align-items: center;
    .date__container {
      display: flex;
      height: 40px;
      width: 75px;
      border-radius: 5px;
      background-color: rgba(65, 64, 64, 0.8);
      &-date {
        font-size: 20px;
        padding: 8px 3px 5px 13px;
      }
      &-monthyear {
        display: flex;
        flex-direction: column;
        padding: 8px 10px 5px 3px;
        font-size: 10px;
        line-height: 12px;
      }
    }
    .day {
      font-size: 22px;
      margin-left: 30px;
    }
  }
  & .card__sources {
    margin-top: 20px;
    p {
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 30px;
      span {
        font-weight: 700;
        line-height: 18px;
      }
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: rgb(180, 242, 253);
      }
    }
  }
}

.connections {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 50px 30% 0 30%;
  background: rgba(25, 25, 25, .9);
  & .connections__container {
    &-title {
      font-size: 30px;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .close {
        font-size: 16px;
        background-color: rgba(142, 147, 147, .7);
        border-radius: 50%;
        padding: 7px 12px;
        cursor: pointer;
      }
    }
    &-cards {
      position: relative;
      height: 80vh;
      overflow: auto;
      .card {
        margin-right: 20px;
      }
    }
  }
}