
.feed {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  width: 100%;
  height: 411px;
  background-clip: padding-box;
  &__container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 100%;
    height: 411px;
    border-radius: 10px;
    background-clip: padding-box;

    &-subject {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      font-size: 10px;
      & .rating {
        font-weight: 900;
        font-size: 12px;
      }
    }
    
    &-title {
      margin-bottom: auto;
      width: 90%;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 1px;
      word-spacing: 3px;
    }
  
    &-overview h4{
      font-size: 12px;
      text-align: justify;
      font-weight: 400;
    }
  }
}