html {
  background-color: white;
}
.customanalysis {
  background-color:white;
  padding-top: 15vh;
  .containertop {
    box-shadow: #5d9c84 5px 5px 50px;
    color: #4f4f4f;
    margin: auto;
    margin-left: 30vw;
    margin-right: 30vw;
    border-radius: 5px;
    border: 1px dashed #4f4f4f;
    &__para {
      padding: 20px;
      padding-bottom: 30px;
      border-bottom: 1px dashed #4f4f4f;
      p {
        width: 80%;
        padding: 10px;
        padding-top: 20px;
        text-align: justify;
        font-weight: 500;
        margin: auto;
      }
    }
    
    &__upload {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 42%;
      input {
        display: none;
      }
      label {
        font-size: 18px;
        padding: 20px 65px;
        color: #4f4f4f;
        cursor: pointer;
        .fas {
          margin-right: 10px;
        }
      }
    }
  }
  #textupload {
    border: 1px dashed #4f4f4f;
    border-radius: 5px;
    box-shadow: #5d9c84 5px 5px 30px;
    padding: 10px;
    &:focus {
      outline: none;
    }
    resize: none;
    font-size: 18px;
    margin: 8vh 9vw;
    width: 80vw;
    height: 150px;
  }
  #uploadbtn {
    margin-left: 46vw;
    box-shadow: #5d9c84 5px 5px 30px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 3px;
    color: #4f4f4f;
    font-weight: 500;
    border: 1px dashed #4f4f4f;
    &:hover {
      background-color: #4f4f4f;
      color: white;
    }
  }
  .containerbottom {
    margin-top: 40px;
    .containerbottom__summary {
      display: flex;
      text-align: justify;
      color: #4f4f4f;
      margin:4vh 3vw;
      div {
        border-radius: 5px;
        padding: 4vh 4vw;
        box-shadow: #5d9c9c 5px 5px 50px;
        margin: 10px;
        flex: 0 0 49%;
        ul {
          list-style: decimal;
        }
      }
    }
    .containerbottom__charts {
      display: flex;
      img {
        flex: 0 0 42%;
        padding: 2%;
      }
    }
  }
}