.feeds {
  &__container {
    padding: 25px 50px;
    section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        color: inherit;
        width: 100%;
      }
      .feed {
        margin-bottom: 40px;
      }
    }
  }
}

.row {
  width: 100%;
  margin: auto;
}