.custom {
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  .custom__container {
    padding: 50px 15vw;
    h2 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 30px;
      color: rgb(248, 248, 248);
      text-transform: uppercase;
      letter-spacing: 5px;
    }
    & > div {
      box-shadow: -15px 15px 30px rgb(56, 58, 58);
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      margin-top: 20px;
      section {
        margin: 15px 3vw;
        margin-bottom: 30px;
        #fileupload {
          display: none;
        }
        .fileupload {
          display: block;
          padding: 10px 30px;
          color: white;
          cursor: pointer;
          margin: 0 38%;
          i {
            padding-right: 15px;
          }
        }
        textarea {
          display: block;
          resize: none;
          width: 100%;
          height: 130px;
          margin-top: 10px;
          margin-bottom: 20px;
          border-radius: 5px;
          font-size: 18px;
          padding: 10px;
          &:focus {
            outline: none;
          }
        }
        #textlabel,#dsllabel {
          font-weight: 700;
          font-size: 18px;
          color: rgb(79, 192, 230);
        }
        #dsl {
          width: 100%;
          margin-top: 10px;
          font-size: 18px;
          color: rgb(45, 46, 46);
          padding: 10px;
          border-radius: 5px;
          &:focus {
            outline: none;
          }
        }
        .custombtns {
          text-align: center;
          margin-top: 40px;
          span {
            cursor: pointer;
            color: white;
            margin: 0 10px;
            padding: 10px 30px;
          }
          #upload {
            background-color: rgb(10, 206, 115);
          }
          #reset {
            background-color: rgb(255, 67, 67);
          }
        }
      }
    }
    & > div.section2 {
      .docsandwords {
        display: flex;
        text-align: center;
        div {
          flex: 0 0 49%;
          background-color: rgb(79, 192, 230);
          padding: 15px;
          padding-bottom: 0;
          border-radius: 5px;
          color: white;
          h4 {
            margin-bottom: 10px;
            font-size: 22px;
          }
        }
        .docs {
          margin-right: 10px;
        }
        .words {
          margin-left: 10px;
        }
      }
      h3 {
        color: rgb(79, 192, 230);
        font-size: 24px;
        margin: 30px 0;
      }
      .summary {
        p {
          background-color: rgb(79, 192, 230);
          color: white;
          padding: 10px;
          border-radius: 5px;
          sup {
            color: black;
          }
        }
      }
      .diversity {
        div {
          margin: 0 30%;
          padding: 20px;
          border-radius: 5px;
          background-color: rgb(79, 192, 230);
        }
        div.textinput {
          color: white;
          text-align: center;
          font-size: 22px;
          h4:first {
            margin-bottom: 10px;
          }
        }
        div.filesinput {
          margin: 0 20%;
          padding: 20px 30px;
          font-weight: 500;
          ol {
            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              span {
                color: rgb(35, 36, 36);
              }
              .score{
                color: white;
              }
            }
          }
        }
      }
      .docsentiments {
        .fileslist {
          margin: 0 20%;
          padding: 10px;
          border-radius: 5px;
          background-color: rgb(79, 192, 230);
          .file {
            padding: 15px 30px;
            background-color: white;
            .filename {
              display: flex;
              justify-content: space-between;
              .name {
                padding-top: 10px;
              }
              .btn {
                background-color: rgb(79, 192, 230);
                padding: 10px;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                  color: black;
                }
              }
            }
            .bar {
              width: 95%;
              margin-top: 15px;
              text-align: center;
              display: flex;
              span {
                padding-bottom: 3px;
                margin: 0 3px;
              }
              .green {
                border-bottom: 4px dashed green;
              }
              .yellow {
                border-bottom: 4px dashed yellow;
              }
              .red {
                border-bottom: 4px dashed red;
              }
            }
          }
        }
      }
      .piechart {
        div {
          margin: 0 25%;
        }
      }
      .keywords {
        ol {
          margin: 0 25%;
          padding: 20px;
          border-radius: 5px;
          background-color: rgb(79, 192, 230);
          color: white;
          font-size: 18px;
          letter-spacing: 2px;
          li {
            margin-bottom: 5px;
            margin-left: 40px;
          }
        }
      }
      .wordcloud {
        div {
          margin: 0 10%;
        }
      }
    }
  }
  .loading {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      margin: 40vh 45vw;
    }
  }
  .singledoc {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .back {
      position: fixed;
      z-index: 15;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
    }
    .content {
      margin: 100px 15%;
      position: absolute;
      z-index: 20;
      padding: 30px;
      background-color: white;
      span.close {
        display: block;
        text-align: center;
        padding: 15px 30px;
        color: white;
        font-weight: 500;
        width: 130px;
        background-color: rgb(79, 192, 230);
        margin: 45px auto;
        margin-bottom: 0;
        cursor: pointer;

        &:hover {
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}