html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* color: white; */
  /* background-color: rgb(21,21,21); */
  font-family: 'Work Sans', sans-serif;
}

/********* COMPONENTS *********/

@import "./components/articlenav";
@import "./components/articlethumbnail";
@import "./components/bottomnav";
@import "./components/connections";
@import "./components/contentcard";
@import "./components/feed";
@import "./components/topnav";

/********* CONTAINERS **********/

@import "./containers/article";
@import "./containers/customanalysis";
@import "./containers/newcustom";
@import "./containers/feeds";

@import "./mediaqueries";