@media only screen and (max-width: 1050px) {
  .connections {
    padding: 50px 20% 0 20%;
  }
}
@media only screen and (max-width: 850px) {
   /******** FEEDS PAGE ***********/
   .feeds__container {
    padding: 25px 3%;
  }
  /******** ARTICLE PAGE ***********/
  .article__container {
    padding: 20px 5%;

    &-cards {
      padding: 30px;
    }
  }
  .connections {
    padding: 50px 15% 0 15%;
  }
}

@media only screen and (max-width: 600px) {
  /******** FEEDS PAGE ***********/
  
  /******** ARTICLE PAGE ***********/
  .articlethumbnail > div
  .articlethumbnail__container {
    padding: 20px;
    padding-bottom: 10px;
    &-details {
      .headline h2 {
        flex: 0 0 85%;
        font-size: 22px;
      }
      .rating {
        font-size: 16px;
      }
      .subject {
        font-size: 10px;
      }
    }
  }
  .article__container {
    padding: 20px 3%;
    &-cards {
      padding: 30px 10px;
    }
  }
}

@media only screen and (max-width: 450px) {
  /******** FEEDS PAGE ***********/
  .topnav {
    font-size: 13pt;
  }
  .bottomnav {
    right: 10px;
    left: 10px;
  }
  .feeds__container section .feed {
    margin-bottom: 20px;
  }

  /******** ARTICLE PAGE ***********/
  .articlethumbnail > div
  .articlethumbnail__container {
    &-details {
      .headline h2 {
        font-size: 18px;
      }
      .rating {
        font-size: 14px;
      }
      .subject {
        font-size: 10px;
      }
    }
  }
  .article__container {
    padding: 20px 3%;
    &-cards {
      padding: 20px 5px;
    }
  }
  .menu-item {
    margin: 7px 10px;
    font-size: 12px;
  }
  .contentcard {
    padding: 20px;
    &__heading h3 {
      font-size: 18px;
    }
    &__content {
      p {
        font-size: 14px
      }
    }
  }
  .articlenav {
    left: 10px;
    right: 10px;
    padding: 15px 10%;
  }
  .connections {
    padding: 30px 5% 0 5%;
  }
}

